body {
	font-family: Helvetica;
}

nav {
	background-color: lightgray;
	height: 50px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
	color : #000;
}

#main_nav {
	margin-left: auto;
	margin-right: auto;
}

#main_nav td {
	padding: 15px 0px 10px 0px;
	font-size: 20px;
}

#main_nav a {
	padding: 15px 50px 10px 50px;
}

#mobile_nav {
	float: right;
	display: none;
}

#mobile_nav td {
	margin-top: -5px;
	padding: 10px 30px 10px 0px;
	font-size: 25px;
}

#mobile_nav a {
	padding: 10px 30px 10px 30px;
}

#dropbtn_menu {
	padding: 0px 0px 0px 30px;
}

.dropdown-content {
	display: none;
	background-color: lightgray;
}

.dropdown-content td {
	display: block;
}

#mobile_nav:active .dropdown-content {
	display: block;
}

nav td:hover {
	background-color: darkgrey;
	cursor: pointer;
}

header {
	background-image: url(images/foodprint-background.jpg);
	max-width: 100%;
	min-height: 500px;
	max-height: 500px;
}

#head1 {
	font-size: 60px;
	font-weight: 600;
	padding: 150px 0px 0px 70px;
	opacity: 0;
	animation: fadein 2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

#head2 {
	font-size: 30px;
	padding: 20px 0px 0px 70px;
	opacity: 0;
	animation: fadein 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

#head1, #head2 {
	color: white;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#banner {
	height: 150px;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 45px;
	font-size: 25px;
	background-color: lightgrey;
}

#banner button {
	background-color: darkgrey;
	padding: 10px 24px;
	border: none;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
}

#banner button:hover {
	background-color: gray;
	cursor: pointer;
}

#products {
	background-color: white;
	min-height: height: 400px;
	font-size: 20px;
}

.left {
	width: 50%;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
}

span {
	font-size: 30px;
}

.left button {
	background-color: darkgray;
	padding: 10px 24px;
	border: none;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.left button:hover {
	background-color: grey;
	cursor: pointer;
}

#buy-button {
	text-align: center;
}

.right {
	width: 50%;
	background-image: url("images/grooming-glove.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: white;
}

#contact table {
	width: 100%;
	background-color: lightgray;
}

#contact td {
	width: 33%;
	height: 200px;
	text-align: center;
}

@media (max-width: 500px) {
	#main_nav td {
		display: none;
	}
	#mobile_nav {
		display: block;
	}
	#head1,
	#head2 {
		padding-left: 10px;
	}

	#products {
		height: auto;
		font-size: 17px;
	}
	.right {
		width: 100%;
		height: 300px;
	}
	.left {
		width: 90%;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 20px;
		padding-right: 0px;
	}
	
	td {
		display: inline-block;
	}
	
	#contact {
		padding-top: 20px;
	}
	
	#contact td {
		font-size: 15px;
		width: 100%;
		padding-top: 20px;
		height: auto;
		padding-bottom: 20px;
	}
}


