body {
	font-family: Helvetica;
	margin: 0;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: #000;
}

header {
	background-image: url(images/foodprint-background.jpg);
	max-width: 100%;
	min-height: 230px;
	max-height: 230px;
}

#head1 {
	padding: 30px 0px 0px 50px;
	opacity: 0;
    color: white;
	animation: fadein 2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

#head2 {
	padding: 0px 0px 0px 35px;
	opacity: 0;
	animation: fadein 2s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
    color: white;
}


@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#banner {
	height: 150px;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 65px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
	background-color: lightgrey;
}

#banner a {
	background-color: darkgrey;
	padding: 10px 24px;
	border: none;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
}

#banner a:hover {
	background-color: gray;
	cursor: pointer;
}

#summary {
	font-size: 20px;
}

#summary table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


#banner2 {
	width: 100%;
	background-color: lightgray;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 0px;
	font-size: 25px;
}

#why-shop {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#why-shop td {
	width: 33%;
	text-align: center;
}

#why-shop img {
	height: 75px;
	padding-bottom: 50px;
}

#products {
	background-color: white;
	min-height: height: 400px;
	font-size: 20px;
}

#products table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#buy-button a {
	background-color: darkgrey;
	padding: 10px 24px;
	border: none;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
}

#buy-button a:hover {
	background-color: gray;
	cursor: pointer;
}

.left {
	width: 50%;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
}

span {
	font-size: 30px;
}

.left button {
	background-color: darkgray;
	padding: 10px 24px;
	border: none;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.left button:hover {
	background-color: gray;
	cursor: pointer;
}

#buy-button {
	text-align: center;
}

#right1 {
	width: 50%;
	background-image: url("images/grooming-glove1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: white;
	margin-top: -40px
}

#right2 {
	width: 50%;
	background-image: url("images/grooming-glove2.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: white;
	margin-top: -40px
}

#contact {
	width: 100%;
	background-color: lightgray;
	padding-bottom: 30px;
}

#contact table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#contact td {
	width: 33%;
	height: 200px;
	text-align: center;
}

#contact a {
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: underline;
}

@media (max-width: 500px) {
	header {
	min-height: 500px;
	max-height: 500px;
	}
	#head1,
	#head2 {
		padding-left: 10px;
	}
	#logo {
		width: 80%;
	}

	#why-shop td {
	width: 100%;
	padding-bottom: 30px;
}

	#why-shop img {
	width: 30%;
	height: auto;
	padding-bottom: 0px;
	}

	#products {
		height: auto;
		font-size: 17px;
	}
	#right1 {
		width: 100%;
		height: 200px;
	}

	#right2 {
		width: 100%;
		height: 200px;
	}

	.left {
		width: 90%;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 20px;
		padding-right: 0px;
	}
	td {
		display: inline-block;
	}
	#contact {
		padding-top: 20px;
	}
	#contact td {
		font-size: 15px;
		width: 100%;
		padding-top: 20px;
		height: auto;
		padding-bottom: 20px;
	}
}


